In [1]:
from google.colab import drive
drive.mount('/content/gdrive')

Drive already mounted at /content/gdrive; to attempt to forcibly remount, call drive.mount("/content/gdrive", force_remount=True).

In [0]:
#Importing the neccessary libraries
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
from sklearn.pipeline import Pipeline
from sklearn.preprocessing import StandardScaler
from sklearn.ensemble import RandomForestRegressor,RandomForestClassifier
from sklearn import preprocessing
import datetime
from sklearn.preprocessing import StandardScaler, OneHotEncoder
from sklearn.compose import ColumnTransformer, make_column_transformer
from sklearn.pipeline import make_pipeline
from sklearn.model_selection import train_test_split

In [0]:
#Importing our dataset
df_cab=pd.read_csv('/content/gdrive/My Drive/KDD/cab_rides.csv')
#Creating an index label for the dataset
df_cab.reset_index(drop=True, inplace=True)

In [4]:
df_cab.shape

(693071, 10)

In [0]:

#convert 13digit time stamp to datetime format
df_cab['date_time'] = pd.to_datetime(df_cab['time_stamp']/1000, unit='s')

In [6]:
df_cab['day'] = df_cab.date_time.dt.dayofweek
df_cab['hour'] = df_cab.date_time.dt.hour
df_cab.head()

   distance cab_type     time_stamp  ...                     date_time day  hour
0      0.44     Lyft  1544952607890  ... 2018-12-16 09:30:07.890000105   6     9
1      0.44     Lyft  1543284023677  ... 2018-11-27 02:00:23.677000046   1     2
2      0.44     Lyft  1543366822198  ... 2018-11-28 01:00:22.197999954   2     1
3      0.44     Lyft  1543553582749  ... 2018-11-30 04:53:02.749000072   4     4
4      0.44     Lyft  1543463360223  ... 2018-11-29 03:49:20.223000050   3     3

[5 rows x 13 columns]

In [0]:
df_cab['fare_per_mile']= round(df_cab.price/df_cab.distance,2)
#Replacing null values.
df_cab['fare_per_mile'].fillna(2.8,inplace=True)
#df_cab['fare_per_mile']=df_cab['fare_per_mile'].astype(float)
df_cab['price'] = df_cab['fare_per_mile']*df_cab['distance']

In [8]:
#After replacement checking if the change is reflected in the dataset.
df_cab.price.isnull().sum()

0

In [9]:
#Import the new dataset and view the attributes
df_weather=pd.read_csv('/content/gdrive/My Drive/KDD/weather.csv')
df_weather.head(2)

    temp     location  clouds  pressure    rain  time_stamp  humidity   wind
0  42.42     Back Bay     1.0   1012.14  0.1228  1545003901      0.77  11.25
1  42.43  Beacon Hill     1.0   1012.15  0.1846  1545003901      0.76  11.32

In [10]:
df_weather.isnull().sum()

temp             0
location         0
clouds           0
pressure         0
rain          5382
time_stamp       0
humidity         0
wind             0
dtype: int64

In [0]:
df_weather['rain'].fillna(0, inplace = True)

In [12]:
df_weather.isnull().sum()

temp          0
location      0
clouds        0
pressure      0
rain          0
time_stamp    0
humidity      0
wind          0
dtype: int64

In [0]:
df_weather['date_time'] = pd.to_datetime(df_weather['time_stamp'], unit='s')
del df_weather['time_stamp']

In [14]:
#merge the datasets to refelect same time for a location
df_cab['merge_date'] = df_cab.source.astype(str) +" - "+ df_cab.date_time.dt.date.astype("str") +" - "+ df_cab.date_time.dt.hour.astype("str")
df_weather['merge_date'] = df_weather.location.astype(str) +" - "+ df_weather.date_time.dt.date.astype("str") +" - "+ df_weather.date_time.dt.hour.astype("str")
print(df_cab.head(2))
print(df_weather.head(2))

   distance cab_type  ...  fare_per_mile                         merge_date
0      0.44     Lyft  ...          11.36  Haymarket Square - 2018-12-16 - 9
1      0.44     Lyft  ...          25.00  Haymarket Square - 2018-11-27 - 2

[2 rows x 15 columns]
    temp     location  ...           date_time                     merge_date
0  42.42     Back Bay  ... 2018-12-16 23:45:01     Back Bay - 2018-12-16 - 23
1  42.43  Beacon Hill  ... 2018-12-16 23:45:01  Beacon Hill - 2018-12-16 - 23

[2 rows x 9 columns]

In [15]:
df_weather = df_weather.groupby(['merge_date']).mean()
df_weather.reset_index(inplace=True)
df_weather.head()

                   merge_date    temp  clouds  ...    rain  humidity   wind
0  Back Bay - 2018-11-26 - 10  40.695   0.995  ...  0.0000     0.940  1.895
1  Back Bay - 2018-11-26 - 11  40.185   0.955  ...  0.0000     0.940  2.260
2  Back Bay - 2018-11-26 - 12  40.315   0.920  ...  0.0000     0.935  2.940
3  Back Bay - 2018-11-26 - 13  41.950   0.910  ...  0.0031     0.910  3.545
4  Back Bay - 2018-11-26 - 14  42.765   0.905  ...  0.0044     0.910  2.960

[5 rows x 7 columns]

In [16]:
df_merged = pd.merge(df_cab, df_weather, on='merge_date')

print(df_merged.shape)

(690107, 21)

In [17]:
print(df_merged.columns)
df_merged.head()

Index(['distance', 'cab_type', 'time_stamp', 'destination', 'source', 'price',
       'surge_multiplier', 'id', 'product_id', 'name', 'date_time', 'day',
       'hour', 'fare_per_mile', 'merge_date', 'temp', 'clouds', 'pressure',
       'rain', 'humidity', 'wind'],
      dtype='object')

   distance cab_type     time_stamp  ... rain humidity  wind
0      0.44     Lyft  1544952607890  ...  0.0     0.76  7.68
1      1.33     Lyft  1544952309308  ...  0.0     0.76  7.68
2      0.53     Lyft  1544951109578  ...  0.0     0.76  7.68
3      2.36     Lyft  1544954108860  ...  0.0     0.76  7.68
4      0.62     Uber  1544954108161  ...  0.0     0.76  7.68

[5 rows x 21 columns]

In [0]:
#df_merged.isnull().sum()

In [0]:
df_merged = df_merged.drop(['date_time','time_stamp','id','product_id'], axis=1)

In [20]:
print(df_merged.columns)
df_merged.head()

Index(['distance', 'cab_type', 'destination', 'source', 'price',
       'surge_multiplier', 'name', 'day', 'hour', 'fare_per_mile',
       'merge_date', 'temp', 'clouds', 'pressure', 'rain', 'humidity', 'wind'],
      dtype='object')

   distance cab_type    destination  ... rain  humidity  wind
0      0.44     Lyft  North Station  ...  0.0      0.76  7.68
1      1.33     Lyft    Beacon Hill  ...  0.0      0.76  7.68
2      0.53     Lyft  North Station  ...  0.0      0.76  7.68
3      2.36     Lyft       Back Bay  ...  0.0      0.76  7.68
4      0.62     Uber       West End  ...  0.0      0.76  7.68

[5 rows x 17 columns]

In [0]:
df_merged = df_merged.drop(['fare_per_mile','surge_multiplier'],axis=1)

In [0]:
df_merged = df_merged.loc[:, df_merged.columns !='merge_date']

In [23]:
OverallData = df_merged.drop(['cab_type'],axis=1)
uber = df_merged[df_merged['cab_type']=='Uber']
uber.reset_index(inplace=True)
uber.drop('index', axis=1, inplace=True)
lyft = df_merged[df_merged['cab_type']=='Lyft']
lyft.reset_index(inplace=True)
lyft.drop('index', axis=1, inplace=True)

/usr/local/lib/python3.6/dist-packages/pandas/core/frame.py:4117: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  errors=errors,

In [0]:
# c_relation=Data.corr()
# c_relation['price'].sort_values(ascending = False)

In [25]:
uber.drop('cab_type', axis=1, inplace=True)
lyft.drop('cab_type', axis=1, inplace=True)

/usr/local/lib/python3.6/dist-packages/pandas/core/frame.py:4117: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  errors=errors,

In [26]:
#Data =OverallData.loc[:, OverallData.columns != 'merge_date'] 
print(OverallData.columns)
print(uber.columns)
print(lyft.columns)

Index(['distance', 'destination', 'source', 'price', 'name', 'day', 'hour',
       'temp', 'clouds', 'pressure', 'rain', 'humidity', 'wind'],
      dtype='object')
Index(['distance', 'destination', 'source', 'price', 'name', 'day', 'hour',
       'temp', 'clouds', 'pressure', 'rain', 'humidity', 'wind'],
      dtype='object')
Index(['distance', 'destination', 'source', 'price', 'name', 'day', 'hour',
       'temp', 'clouds', 'pressure', 'rain', 'humidity', 'wind'],
      dtype='object')

In [27]:
print(OverallData.shape)
print(uber.shape)
print(lyft.shape)

(690107, 13)
(384005, 13)
(306102, 13)

In [0]:
# OverallData = pd.get_dummies(OverallData)
# uber = pd.get_dummies(uber)
# lyft = pd.get_dummies(lyft)

In [29]:
uber.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 384005 entries, 0 to 384004
Data columns (total 13 columns):
distance       384005 non-null float64
destination    384005 non-null object
source         384005 non-null object
price          384005 non-null float64
name           384005 non-null object
day            384005 non-null int64
hour           384005 non-null int64
temp           384005 non-null float64
clouds         384005 non-null float64
pressure       384005 non-null float64
rain           384005 non-null float64
humidity       384005 non-null float64
wind           384005 non-null float64
dtypes: float64(8), int64(2), object(3)
memory usage: 38.1+ MB

In [0]:
# c_relation = Data.corr()
# c_relation['price'].sort_values(ascending = False)

In [0]:

Xd = OverallData.loc[:, OverallData.columns != 'price']
#Xd = pd.get_dummies(Xd)
yd = OverallData['price']
Xd_train,Xd_test,yd_train,yd_test = train_test_split(Xd,yd,test_size = 0.33, random_state=42)

In [0]:

Xu = uber.loc[:, uber.columns != 'price']
#Xu = pd.get_dummies(Xu)
yu = uber['price']
Xu_train,Xu_test,yu_train,yu_test = train_test_split(Xu,yu,test_size = 0.33, random_state=42)

In [0]:

Xl = lyft.loc[:, lyft.columns != 'price']
#Xl = pd.get_dummies(Xl)
yl = lyft['price']
Xl_train,Xl_test,yl_train,yl_test = train_test_split(Xl,yl,test_size = 0.33, random_state=42)

In [35]:
# numerical_features = Xu.dtypes == 'float'
# categorical_features = ~numerical_features
# preprocess = make_column_transformer(
#     (numerical_features, StandardScaler()),
#     (categorical_features, OneHotEncoder()))
# rt = RandomForestRegressor(n_estimators=200,random_state = 42)

/usr/local/lib/python3.6/dist-packages/sklearn/compose/_column_transformer.py:778: DeprecationWarning: `make_column_transformer` now expects (transformer, columns) as input tuples instead of (columns, transformer). This has been introduced in v0.20.1. `make_column_transformer` will stop accepting the deprecated (columns, transformer) order in v0.22.
  warnings.warn(message, DeprecationWarning)

In [0]:
# pipe = make_pipeline(preprocess, rt)
# pipe.fit(Xu_train, yu_train)
# yu_pred = pipe.predict(Xu_test)
# print('Mean Absolute Error:', metrics.mean_absolute_error(yu_test, yu_pred))
# print('Mean Squared Error:', metrics.mean_squared_error(yu_test, yu_pred))
# print('Root Mean Squared Error:', np.sqrt(metrics.mean_squared_error(yu_test, yu_pred)))
# print('Mean Absolute Percentage Error:', np.mean(np.abs((yu_test - yu_pred) / yu_test)) * 100)

In [0]:

# pipe = Pipeline([('Scalar',StandardScaler()),('rf',RandomForestRegressor(random_state = 42))])
# pipe.fit(Xu_train, yu_train)
# preds = pipeline.predict(Xu_test)
# np.mean(preds == yu_test)

In [0]:
from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.25, random_state = 42)
X_train.shape

In [0]:
from sklearn.ensemble import RandomForestRegressor,RandomForestClassifier
from math import sqrt
from sklearn.metrics import mean_squared_error
from sklearn import metrics


rf = RandomForestRegressor(n_estimators = 500, random_state = 42)
# Train the model on uber training data
rf.fit(Xu_train, yu_train)
yu_pred = rf.predict(Xu_test)
print('Mean Absolute Error:', metrics.mean_absolute_error(yu_test, yu_pred))
print('Mean Squared Error:', metrics.mean_squared_error(yu_test, yu_pred))
print('Root Mean Squared Error:', np.sqrt(metrics.mean_squared_error(yu_test, yu_pred)))
print('Mean Absolute Percentage Error:', np.mean(np.abs((yu_test - yu_pred) / yu_test)) * 100)

In [0]:
# Train the model on lyft training data
rf.fit(Xl_train, yl_train)
yl_pred = rf.predict(Xl_test)
print('Mean Absolute Error:', metrics.mean_absolute_error(yl_test, yl_pred))
print('Mean Squared Error:', metrics.mean_squared_error(yl_test, yl_pred))
print('Root Mean Squared Error:', np.sqrt(metrics.mean_squared_error(yl_test, yl_pred)))
print('Mean Absolute Percentage Error:', np.mean(np.abs((yl_test - yl_pred) / yl_test)) * 100)

In [0]:
# Train the model on lyft training data
rf.fit(Xd_train, yd_train)
yd_pred = rf.predict(Xd_test)
print('Mean Absolute Error:', metrics.mean_absolute_error(yd_test, yd_pred))
print('Mean Squared Error:', metrics.mean_squared_error(yd_test, yd_pred))
print('Root Mean Squared Error:', np.sqrt(metrics.mean_squared_error(yd_test, yd_pred)))
print('Mean Absolute Percentage Error:', np.mean(np.abs((yd_test - yd_pred) / yd_test)) * 100)